*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    padding: 100px;
}

.container .box{
    width: 40px;
    height: 40px;
    background-color: aquamarine;
    margin-bottom: 50px;
}

 .box:hover {
    width: 500px;
    background-color: blanchedalmond;
}

.transition{
    transition-property: width;
    transition-duration : 2s;
    transition-delay: 1s;
    /* transition-timing-function: ease-in-out */
    /* transiton : width 2s 1s ease-in, background-color 1s 2s ease-in-out; */
}

.linear{
    transition-timing-function: linear;
}

.ease-in{
    transition-timing-function: ease-in;
}

.ease-out{
    transition-timing-function: ease-out;
}

.ease-in-out{
    transition-timing-function: ease-in-out;
}

.step-end{
    transition-timing-function: step-end;
}

.step-start{
    transition-timing-function: step-start;
}

.steps{
    transition-timing-function: steps(5);
}


